@import url('https://fonts.googleapis.com/css2?family=Life+Savers:wght@700&family=Poppins&family=Roboto:ital,wght@1,100&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}

/* navigation part */
header{
    background-image: url(../images/cloud.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: overlay;
}
.navigation li{
    margin: 15px;
}
.navigation li a{
    color: white;
    font-weight: 600;
}

/* banner part */
.banner-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.banner-left h1{
    color: #fff;
    font-size: 45px;
}
.banner-left p{
    font-size: 18px;
    font-weight: 600;
}
.highlight{
    color: #FF008E;
}
.primary-btn{
    color: #fff;
    border: 0;
    padding: 10px 12px;
    background-image: linear-gradient(90deg, #c20c70,#fc67b9);
    font-weight: 600;
    border-radius: 5px;
    text-transform:uppercase; 
    cursor: pointer;
    box-shadow: 0 3px 0 #1d0211;
    position: relative;
    top: 0;
    outline: 0;
}
.primary-btn:active{
    top: 5px;
    box-shadow: 0 3px 0 #4d052c;
}
.container{
    overflow: hidden;
}
.banner-right img{
    height: 28rem;
}
/* feature part started */
.section-title h2{
    font-size: 40px;
    display: inline-block;
    border-bottom: 2px solid #FF008E;
    margin: 50px 0;
    text-transform: uppercase;
}
.card{
    box-shadow: 0 30px 35px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    width: 300px;
    padding: 30px;
}
.card .card-icon{
    background-color: #FF008E;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 7px;
    color: #fff;
}
.card h3{
    color: #FF008E;
    font-size: 25px;
    font-weight: 800;
}
.read-btn{
    color: #FF008E;
    text-decoration: none;
}
/* gallery part started  */
.photo img{
    width: 100%;
    height: 210px;
    object-fit: cover;
    border: 3px solid #fc67b9;
}